
  section{
      display:block;
  }
.gallery {
    display: grid;
    align-self: center;
    grid-gap: 15px;
    grid-template-columns: repeat(auto-fit, minmax(200px , 200px));
    

    
  }
  .gallery a{
      height: 200px;
 background-size: cover;
  }